<% if user_signed_in? %>
  <li><%= link_to 'Sign out', destroy_user_session_path, method: 'delete' %></li>
<% else %>
  <li><%= link_to 'Sign in with Twitter', user_omniauth_authorize_path(:twitter) %></li>
<% end %>

</ul>
<ul class="nav navbar-nav navbar-right">
<% if user_signed_in? %>
  <li><p class="navbar-text">Logged in as: <%= current_user.name %></p></li>
<% end %>
